.game-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: stretch;
}

.game-preview {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.game-preview-img {
  min-width: 100%;
  min-height: 100%;
}

.inner-container {
  padding-inline: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: stretch;
}

.play-button {
  width: 100%;
}

.address {
  color: #333;
}
