.card {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
  gap: 5px;
  padding: 15px;
  background-color: #eee;
  border-radius: 10px;
}

.card-name {
  flex-grow: 2;
}

.card-image {
  max-width: 100%;
  border-radius: 15px;
}

.card-button {
  width: 100%;
}
